* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #252B42 !important;
}

header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}

header nav a {
  color: #FFFFFF !important;
}

header nav a:hover {
  color: #23A6F0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .active {
  color: #23A6F0 !important;
}

header nav > a {
  font-size: 24px !important;
  margin-right: 75px !important;
}

header nav #nav-menu {
  font-size: 14px !important;
}

header nav #nav-menu a {
  text-align: right;
}

header .login-div {
  font-size: 14px !important;
}

header .login-div a {
  margin-right: 45px;
  text-decoration: none;
  color: #FFFFFF;
}

header .login-div #signup {
  background-color: #23A6F0;
  color: #FFFFFF;
  padding: 15px 25px;
}

header .login-div #signup:hover {
  opacity: 0.8;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.row {
  width: 100% !important;
}

.btn-outline-primary {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  border-radius: 37px !important;
}

.btn-outline-primary:hover {
  background-color: #23A6F0 !important;
  border-color: #23A6F0 !important;
}

.btn-primary {
  border-radius: 37px !important;
  background-color: #23A6F0 !important;
  border-color: #23A6F0 !important;
}

.btn-primary:hover {
  background-color: transparent !important;
  border-color: #FFFFFF !important;
}

.main {
  padding-left: 3rem;
  padding-top: 4rem;
  color: #FFFFFF;
}

.main__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: 58px;
  line-height: 80px;
  width: 35rem;
}

.main__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 30px;
  width: 25rem;
}

.main .buttons-div {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
}

.main .buttons-div button {
  margin: 5px !important;
  padding: 15px 36px !important;
}

.strategy {
  color: #FFFFFF;
}

.strategy h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
}

.strategy p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 25px;
}

.strategy .cards {
  outline: 1px solid #00000030;
  border-radius: 2px;
  background: #FFFFFF;
  height: 140px;
}

.strategy .cards h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 24px;
  color: #252B42;
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  header nav #nav-menu a {
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  header nav #nav-menu a {
    font-size: 24px;
  }
  .main {
    text-align: center;
  }
  .main__heading {
    font-size: 40px;
    line-height: 57px;
    width: auto;
    margin-bottom: 40px;
  }
  .main__paragraph {
    width: auto;
    margin-bottom: 28px;
  }
  .main .buttons-div button {
    margin: 12px !important;
    padding: 10px 36px !important;
  }
}
/*# sourceMappingURL=main.css.map */