* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #252B42 !important;
}

header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
}

header nav a {
  color: #FFFFFF !important;
}

header nav a:hover {
  color: #23A6F0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .active {
  color: #23A6F0 !important;
}

header nav > a {
  font-size: 24px !important;
  margin-right: 75px !important;
}

header nav #nav-menu {
  font-size: 14px !important;
}

header nav #nav-menu a {
  text-align: right;
}

header .login-div {
  font-size: 14px !important;
}

header .login-div a {
  margin-right: 45px;
  text-decoration: none;
  color: #FFFFFF;
}

header .login-div #signup {
  background-color: #23A6F0;
  color: #FFFFFF;
  padding: 15px 25px;
}

header .login-div #signup:hover {
  opacity: 0.8;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.row {
  width: 100% !important;
}

.btn-outline-primary {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  border-radius: 37px !important;
}

.btn-outline-primary:hover {
  background-color: #23A6F0 !important;
  border-color: #23A6F0 !important;
}

.btn-primary {
  border-radius: 37px !important;
  background-color: #23A6F0 !important;
  border-color: #23A6F0 !important;
}

.btn-primary:hover {
  background-color: transparent !important;
  border-color: #FFFFFF !important;
}

.main {
  padding-left: 3rem;
  padding-top: 4rem;
  color: #FFFFFF;
}

.main__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2px;
  font-size: 58px;
  line-height: 80px;
  width: 35rem;
}

.main__paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 30px;
  width: 25rem;
}

.main .buttons-div {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
}

.main .buttons-div button {
  margin: 5px !important;
  padding: 15px 36px !important;
}

.strategy {
  color: #FFFFFF;
}

.strategy h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
}

.strategy p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 25px;
}

.strategy .cards {
  outline: 1px solid #00000030;
  border-radius: 2px;
  background: #FFFFFF;
  height: 140px;
}

.strategy .cards h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.testimonial {
  margin-top: 160px !important;
}

.testimonial h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
}

.testimonial p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
}

.testimonial img {
  width: 96px;
}

.testimonial .checked {
  color: yellow;
}

.testimonial .card {
  border-radius: 5px;
  color: #252B42;
  padding: 40px 46px;
  margin-top: 70px;
}

.testimonial .card-body {
  padding: 0 !important;
}

.testimonial .card .img-div {
  margin-bottom: 30px;
}

.testimonial .card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.testimonial .card .ratings-div {
  margin: 15px 0;
}

.testimonial .card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 24px;
  line-height: 32px;
}

.testimonial .card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

.faq {
  margin-top: 160px !important;
}

.faq h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
  color: #FFFFFF;
}

.faq p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.faq .card-group {
  margin: 30px 15px;
}

.faq .card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 16px;
  line-height: 24px;
  color: #252B42;
}

.faq .card P {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #737373;
}

.faq .card-body {
  padding: 25px 47px !important;
}

.pricing {
  margin-top: 160px !important;
}

.pricing h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
  color: #FFFFFF;
}

.pricing p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.pricing .free, .pricing .premium, .pricing .standard {
  padding: 50px 40px;
  border-radius: 10px;
}

.pricing .free .card-header, .pricing .premium .card-header, .pricing .standard .card-header {
  background-color: transparent;
  border-bottom: none;
}

.pricing .free .card-header h3, .pricing .premium .card-header h3, .pricing .standard .card-header h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}

.pricing .free .card-header p, .pricing .premium .card-header p, .pricing .standard .card-header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  margin: 35px 0;
  width: 200px;
}

.pricing .free .price p, .pricing .premium .price p, .pricing .standard .price p {
  color: #23A6F0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 57px;
}

.pricing .free .price span, .pricing .premium .price span, .pricing .standard .price span {
  width: 78px;
  color: #23A6F0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
}

.pricing .free .list-group, .pricing .premium .list-group, .pricing .standard .list-group {
  margin: 35px 0;
}

.pricing .free .list-group-item, .pricing .premium .list-group-item, .pricing .standard .list-group-item {
  background: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 24px;
  color: #252B42;
}

.pricing .free .list-group-item img, .pricing .premium .list-group-item img, .pricing .standard .list-group-item img {
  margin-right: 10px;
}

.pricing .free .btn-primary, .pricing .premium .btn-primary, .pricing .standard .btn-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 14px;
  background-color: #23A6F0;
  border-radius: 5px !important;
  padding: 15px 0 !important;
}

.pricing .standard {
  background-color: #23A6F0;
}

.pricing .standard .card-header h3, .pricing .standard .card-header p, .pricing .standard .price p, .pricing .standard .price span, .pricing .standard .list-group-item {
  color: #FFFFFF;
}

.pricing .standard .btn-primary {
  background-color: #FFFFFF !important;
  color: #23A6F0 !important;
}

@media screen and (max-width: 425px) {
  header nav #nav-menu a {
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  header nav #nav-menu a {
    font-size: 24px;
  }
  .main {
    text-align: center;
  }
  .main__heading {
    font-size: 40px;
    line-height: 57px;
    width: auto;
    margin-bottom: 40px;
  }
  .main__paragraph {
    width: auto;
    margin-bottom: 28px;
  }
  .main .buttons-div button {
    margin: 12px !important;
    padding: 10px 36px !important;
  }
}

@media screen and (min-width: 1200px) {
  .testimonial .card {
    padding: 40px 180px;
  }
  .pricing .standard {
    margin: -40px 1px 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .pricing .standard {
    margin: -20px 1px 0 !important;
    z-index: 1;
  }
}
/*# sourceMappingURL=main.css.map */