@mixin screen-mobile-l {
    @media screen and (max-width: 425px) {
        header{
            nav{
                #nav-menu{
                    a{
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }
        }
    }    
}

@mixin screen-laptop {
    @media screen and (max-width: 1024px) {
        header{
            nav{
                #nav-menu{
                    a{
                        font-size: 24px;
                    }
                }
            }
        }

        .main{
            text-align: center;
            &__heading{
                font-size: 40px;
                line-height: 57px;
                width: auto;
                margin-bottom: 40px;
            }
            &__paragraph{
                width: auto;
                margin-bottom: 28px;
            }
            .buttons-div{
                button{
                    margin: 12px !important;
                    padding: 10px 36px !important;
                }
            }
        }
    }    
}