@import 'variables';
@import 'components';
@import 'responsive';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid;
}
body{
    // height: 150vh;
    background: #252B42 !important;
}

header{
    @include font-bold;
    nav{
        a{
            color: $light-text-color !important;
            &:hover{
                color: $primary-color !important;
                transition: all 0.5s;
            }
        }
        .active{
            color: $primary-color !important;
        }
        >a{
            font-size: 24px !important;
            margin-right: 75px !important;
        }
        #nav-menu{
            font-size: 14px !important;
            a{
                // float: right;
                text-align: right;
            }
        }
    }
    .login-div{
        font-size: 14px !important;
        a{
            margin-right: 45px;
            text-decoration: none;
            color: $light-text-color;
        }
        
        #signup{
            @include btn-rect-primary;
            padding: 15px 25px;
            
            &:hover{
                opacity: 0.8;
                transition:all 1s;
            }
        }
    }
}
.row{
    width: 100% !important;
}
.btn-outline-primary{
    color: $light-text-color !important;
    border-color: $light-text-color !important;
    border-radius: 37px !important;
    &:hover{
        background-color: $primary-color !important;
        border-color: $primary-color !important;
    }
}
.btn-primary{
    border-radius: 37px !important;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    &:hover{
        background-color: transparent !important;
        border-color: $light-text-color !important;
    }
}
.main{
    padding-left: 3rem;
    padding-top: 4rem;
    color: $light-text-color;
    &__heading{
        @include font-extra-bold;
        font-size: 58px;
        line-height: 80px;
        width: 35rem;
    }
    &__paragraph{
        @include font-medium;
        font-size: 20px;
        line-height: 30px;
        width: 25rem;
    }
    .buttons-div{
        @include font-bold;
        font-size: 14px;
        button{
            margin: 5px !important;
            padding: 15px 36px !important;
        }
    }
}
.strategy{
    color: $light-text-color;
    h2{
        @include font-bold;
        font-size: 40px;
        line-height: 57px;
    }
    p{
        @include font-medium;
        font-size: 14px;
        line-height: 25px;
    }
    .cards{
        outline: 1px solid #00000030;
        border-radius: 2px;
        background: $light-text-color;
        // width: 330px;
        height: 140px;
        h3{
            @include font-semi-bold;
            font-size: 14px;
            line-height: 24px;
            color: $text-color;
            opacity: 0.8;
        }
    }
}




//////////// media queries \\\\\\\\\\\\\\\\\\\\\\
@include screen-mobile-l;
@include screen-laptop;
