@import 'variables';
@import 'components';
@import 'responsive';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid;
}
body{
    // height: 150vh;
    background: #252B42 !important;
}

header{
    @include font-bold;
    nav{
        a{
            color: $light-text-color !important;
            &:hover{
                color: $primary-color !important;
                transition: all 0.5s;
            }
        }
        .active{
            color: $primary-color !important;
        }
        >a{
            font-size: 24px !important;
            margin-right: 75px !important;
        }
        #nav-menu{
            font-size: 14px !important;
            a{
                // float: right;
                text-align: right;
            }
        }
    }
    .login-div{
        font-size: 14px !important;
        a{
            margin-right: 45px;
            text-decoration: none;
            color: $light-text-color;
        }
        
        #signup{
            @include btn-rect-primary;
            padding: 15px 25px;
            
            &:hover{
                opacity: 0.8;
                transition:all 1s;
            }
        }
    }
}
.row{
    width: 100% !important;
}
.btn-outline-primary{
    color: $light-text-color !important;
    border-color: $light-text-color !important;
    border-radius: 37px !important;
    &:hover{
        background-color: $primary-color !important;
        border-color: $primary-color !important;
    }
}
.btn-primary{
    border-radius: 37px !important;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    &:hover{
        background-color: transparent !important;
        border-color: $light-text-color !important;
    }
}
.main{
    padding-left: 3rem;
    padding-top: 4rem;
    color: $light-text-color;
    &__heading{
        @include font-extra-bold;
        font-size: 58px;
        line-height: 80px;
        width: 35rem;
    }
    &__paragraph{
        @include font-medium;
        font-size: 20px;
        line-height: 30px;
        width: 25rem;
    }
    .buttons-div{
        @include font-bold;
        font-size: 14px;
        button{
            margin: 5px !important;
            padding: 15px 36px !important;
        }
    }
}
.strategy{
    color: $light-text-color;
    h2{
        @include font-bold;
        font-size: 40px;
        line-height: 57px;
    }
    p{
        @include font-medium;
        font-size: 14px;
        line-height: 25px;
    }
    .cards{
        outline: 1px solid #00000030;
        border-radius: 2px;
        background: $light-text-color;
        // width: 330px;
        height: 140px;
        h3{
            @include font-semi-bold;
            font-size: 14px;
            line-height: 24px;
            color: $second-text-color;
        }
    }
}
.testimonial{
    margin-top: 160px !important;
    h2{
        @include font-bold;
        font-size: 40px;
        line-height: 57px;
    }
    p{
        @include font-medium;
        font-size: 14px;
        line-height: 20px;
    }
    img{
        width: 96px;
        // height: auto;
    }
    .checked{
        color: yellow;
    }
    .card{
        border-radius: 5px;
        color: $text-color;
        padding: 40px 46px;
        margin-top: 70px;
        &-body{
            padding: 0 !important;
        }
        .img-div{
            margin-bottom: 30px;
        }
        &-text{
            @include font-medium;
            font-size: 14px;
            line-height: 20px;
            color: $second-text-color;
        }
        .ratings-div{
            margin: 15px 0;
        }
        &-title{
            @include font-bold;
            font-size: 24px;
            line-height: 32px;
        }
        &-subtitle{
            @include font-semi-bold;
            font-size: 14px;
            line-height: 24px;
            color: $second-text-color;
        }
    }
}
.faq{
    margin-top: 160px !important;
    h2{
        @include font-bold;
        font-size: 40px;
        line-height: 57px;
        color: $light-text-color;
    }
    p{
        @include font-medium;
        font-size: 14px;
        line-height: 20px;
        color: $light-text-color;
    }
    .card-group{
        margin: 30px 15px;
    }
    .card{
        h3{
            @include font-bold;
            font-size: 16px;
            line-height: 24px;
            color: $text-color;
        }
        P{
            @include font-semi-bold;
            color: $second-text-color;
        }
        &-body{
            padding: 25px 47px !important;
        }
    }
}
.pricing{
    margin-top: 160px !important;
    h2{
        @include font-bold;
        font-size: 40px;
        line-height: 57px;
        color: $light-text-color;
    }
    p{
        @include font-medium;
        font-size: 14px;
        line-height: 20px;
        color: $light-text-color;
        margin-bottom: 80px;
    }
    .free, .premium, .standard{
        padding: 50px 40px;
        border-radius: 10px;
        .card-header{
            background-color: transparent;
            border-bottom: none;
            h3{
                @include font-bold;
                font-size: 24px;
                line-height: 32px;
                color: $text-color;
            }
            p{
                @include font-bold;
                font-size: 16px;
                line-height: 24px;
                color: $second-text-color;
                margin: 35px 0;
                width: 200px;
            }
        }
        .price{
            // width: 116px;
            p{
                color: $primary-color;
                @include font-bold;
                font-size: 40px;
                line-height: 57px;
            }
            span{
                width: 78px;
                color: $primary-color;
                @include font-bold;
                font-size: 14px;
            }
        }
        .list-group{
            margin: 35px 0;
            &-item{
                background: transparent;
                border: none;
                @include font-semi-bold;
                font-size: 14px;
                line-height: 24px;
                color: $text-color;
                img{
                    margin-right: 10px;
                }
            }
        }
        .btn-primary{
            @include font-bold;
            font-size: 14px;
            background-color: $primary-color;
            border-radius: 5px !important;
            padding: 15px 0 !important;
        }
    }
    .standard{
        background-color: $primary-color;
        .card-header h3, .card-header p, .price p, .price span, .list-group-item{
                color: $light-text-color;
        }
        .btn-primary{
            background-color: $light-text-color !important;
            color: $primary-color !important;
        }
    }
}
//////////// media queries \\\\\\\\\\\\\\\\\\\\\\
@include screen-mobile-l;
@include screen-laptop;
